/*
font-family: 'Black Ops One', cursive;
font-family: 'Russo One', sans-serif;
*/
html, body {
  background: #352743;
  font-family: 'Russo One', sans-serif;
  text-align: center;
}
.container {
  margin: 20px auto 0;
}
.container.beginner {
  width: 266px;
}
.container.intermediate {
  width: 455px;
}
.container.expert {
  width: 810px;
}
.game-title {
  margin-top: 30px;
  color: #ffd25e;
  font-size: 35px;
  font-family: 'Black Ops One', cursive;
}

.btn-box {
  margin-top: 30px;
}
.btn-box button {
  width: 125px;
  padding: 5px 0;
  background: #a158ff;
  color: #fff;
  border: 3px solid #4c2a9c;
  border-top-color: #c8b2ff;
  border-left-color: #c8b2ff;
}
.btn-box button:active {
  border-top-color: #4c2a9c;
  border-left-color: #4c2a9c;
  border-bottom-color: #c8b2ff;
  border-right-color: #c8b2ff;
}

.game-ctr,
.game-board {
  width: calc(100% - 15px);
  margin: auto;
  border: 3px solid #888;
  border-right-color: #f6f6f6;
  border-bottom-color: #f6f6f6;
}

.game-ctr {
  display: table;
  height: 35px;
  padding: 0 8px;
  box-sizing: border-box;
}
.game-ctr > * {
  display: table-cell;
  vertical-align: middle;
}
.count-box, .time-box {
  width: 60px;
  font-size: 0;
}
.count-box > span,
.time-box > span {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  padding-top: 2px;
  color: #ff0000;
  font-size: 25px;
  font-family: 'Black Ops One', cursive;
  border-right: 1px solid #ddd;
  background: #222;
}
.count-box > span:last-child,
.time-box > span:last-child {
  border-right: 0;
}
.btn-reset {
  width: 35px;
  height: 35px;
  background: url('img/emoji_smile.png') no-repeat center / 90%;
  border: 3px solid #666;
  border-top-color: #f6f6f6;
  border-left-color: #f6f6f6;
}
.btn-reset:active {
  border: 3px solid #666;
  border-bottom-color: #f6f6f6;
  border-right-color: #f6f6f6;
}
.btn-reset.game-over {
  background: url('img/emoji_die.png') no-repeat center / 90%;
}
.btn-reset.game-win {
  background: url('img/emoji_sunglass.png') no-repeat center / 90%;
}

.game-box {
  width: 100%;
  padding: 7px 0;
  background: #d1d1d1;
  border: 3px solid #888;
  border-top-color: #f6f6f6;
  border-left-color: #f6f6f6;
}

.game-board {
  margin-top: 7px;
  padding: 0;
  list-style: none;
  border-spacing: 0;
}
.game-board .row {
  /* display: flex; */
  /* justify-content: space-around; */
  height: 27px;
}
.beginner .game-board .square {
  width: 11.1112%;
}
.intermediate .game-board .square {
  width: 6.25%;
}
.expert .game-board .square {
  width: 3.3334%;
}
.game-board .square {
  border: 2px solid #666;
  border-top-color: #f6f6f6;
  border-left-color: #f6f6f6;
  box-sizing: border-box;
  font-size: 18px;
  cursor: pointer;
}
.game-board .square.clicked {
  border-color: transparent;
  border-right: 2px dotted #333;
  border-bottom: 2px dotted #333;
}
.game-board .square.txt-1 {
  color: #2483ff;
}
.game-board .square.txt-2 {
  color: rgb(8, 141, 8);
}
.game-board .square.txt-3 {
  color: #ff0000;
}
.game-board .square.txt-4 {
  color: #ff9b00;
}
.game-board .square.txt-5 {
  color: #924d32;
}
.game-board .square.txt-6 {
  color: #3f4bfa;
}
.game-board .square.txt-7 {
  color: #903ffa;
}
.game-board .square.txt-8 {
  color: #333;
}
.game-board .square.has-mine {
  background: url('img/mines.png') no-repeat center / 80%;
}
.game-board .square.bg-red {
  background-color: #ff0000;
}
.game-board .square.flag {
  background: url('img/flag.png') no-repeat center / 60%;
}
.game-board .square.no-mine {
  background: url('img/icon_nomine.png') no-repeat center / 80%;
}

.game-result {
  display: none;
  margin-top: 50px;
  position: relative;
  top: 300px;
  opacity: 0;
  transition: 0.3s cubic-bezier(.15,.48,1,.84);
}
.game-result.show {
  display: block;
}
.game-result.move-up {
  position: relative;
  top: 0px;
  opacity: 1;
}

.game-result .title {
  color: #ffb03c;
  font-size: 30px;
  margin: 0 0 10px;
  
}
.game-result .time:after {
  content: 'sec';
  padding-left: 2px;
}
.game-result .result {
  color: #f6f6f6;
  font-size: 17px;
  line-height: 1.8;
}
